In [2]:
import pyspark
import random
import pandas as pd

In [3]:
sc = pyspark.SparkContext(appName="Temperature")

**Task 1:** What are the lowest and highest temperature measured each year for the period 1950 to 2014? Provide the list sorted in the descending order with respect to the maximum temperature.

In [4]:
tr_path = "/home/flennic/Documents/big-data-analytics-ressources/temperature-readings.csv"
temperature_reading = sc.textFile(tr_path)#.cache()
res = temperature_reading.map(lambda l: l.split(";"))
res = res.map(lambda l: (l[0], l[1][0:4], l[1][5:7], l[1][8:10], l[2], l[3], l[4]))
res = res.filter(lambda m: int(m[1]) >= 1950 and int(m[1]) <= 2014)
res = res.map(lambda m: [m[1], m])

res_max = res.reduceByKey(lambda x, y: max(x, y, key=lambda z: float(z[5])))
res_max = res_max.map(lambda m: (m[0], m[1][0], m[1][5]))
res_min = res.reduceByKey(lambda x, y: min(x, y, key=lambda z: float(z[5])))
res_min = res_min.map(lambda m: (m[1][5],))

res = res_max.zip(res_min).map(lambda x: [m for sublist in x for m in sublist])
res = res.sortBy(lambda m: m[0], ascending=False)

df = pd.DataFrame(res.collect())

In [5]:
df

       0       1     2      3
0   2014   96560  34.4  -42.5
1   2013   98210  31.6  -40.7
2   2012   54990  31.3  -42.7
3   2011  172770  32.5  -42.0
4   2010   75250  34.4  -41.7
5   2009   81370  31.5  -38.5
6   2008  102390  32.2  -39.3
7   2007   86420  32.2  -40.7
8   2006   75240  32.7  -40.6
9   2005  107140  32.1  -39.4
10  2004  117160  30.2  -39.7
11  2003  136420  32.2  -41.5
12  2002   78290  33.3  -42.2
13  2001   62400  31.9  -44.0
14  2000   62400  33.0  -37.6
15  1999   98210  32.4  -49.0
16  1998   63600  29.2  -42.7
17  1997   74180  31.8  -40.2
18  1996   96140  30.8  -41.7
19  1995   76420  30.8  -37.6
20  1994  117160  34.7  -40.5
21  1993  132030  29.7  -39.0
22  1992   63600  35.4  -36.1
23  1991  137040  32.7  -39.3
24  1990   54330  30.2  -35.0
25  1989   63050  33.9  -38.2
26  1988  102540  32.6  -39.9
27  1987  105410  29.6  -47.3
28  1986   76470  33.2  -44.2
29  1985   85450  29.8  -43.4
..   ...     ...   ...    ...
35  1979   63600  32.0  -44.0
36  1978   71470  30.8  -47.7
37  1977   94180  31.8  -42.5
38  1976   75040  31.1  -42.2
39  1975   86200  36.1  -37.0
40  1974  167710  30.6  -35.6
41  1973   71470  32.2  -39.3
42  1972  137100  31.2  -37.5
43  1971   65130  31.2  -44.3
44  1970  103080  33.2  -39.6
45  1969   71470  32.0  -41.5
46  1968  137100  33.7  -42.0
47  1967   75040  29.5  -45.4
48  1966  151640  33.5  -49.4
49  1965  116500  28.5  -44.0
50  1964   76430  31.2  -39.5
51  1963   62410  31.0  -41.0
52  1962   76380  27.4  -42.0
53  1961   76000  31.0  -39.5
54  1960  173810  29.4  -40.0
55  1959   65160  32.8  -43.6
56  1958  117160  30.8  -43.0
57  1957   75040  29.8  -37.8
58  1956  145340  33.0  -45.0
59  1955   97260  32.2  -41.2
60  1954   53650  30.5  -36.0
61  1953   65160  32.2  -38.4
62  1952  106100  30.4  -35.5
63  1951   75040  28.5  -42.0
64  1950   75040  29.4  -42.0

[65 rows x 4 columns]

In [6]:
sc.stop()